.navigation {
  &__logo {
    width: 20rem;
  }

  &--list {
    margin-left: auto;
  }

  &--item {
    padding: 0 1rem;
  }

  &--link {
    font-size: 1.8rem;
    position: relative;

    &::after {
      content: "";
      display: inline-block;
      height: 2px;
      width: 0;
      position: absolute;
      background-color: transparent;
      bottom: -2px;
      left: 50%;
      transition: all 0.3s;
    }

    &:hover::after {
      left: 25%;
      background-color: #fff;
      width: 50%;
    }
  }
}
